.User {
    display: grid;
    grid-template-columns: 100px 3fr 1fr;
    gap: 1.5rem;
    border: 1px dashed blue;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem;
}

.User ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}


.User__avatar img {
    width: 100%;
    border-radius: 100%;
}

.User__name {
    font-weight: 900;
    font-size: 1.5rem;
}
.toggle-button {
   background-color: blue;
   color: white;
   border: none;
   margin: 2px;
   padding: 10px;
}