.allHobbies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 60%;
  gap: 0.5rem;
}
button {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.active-button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
