.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  font-size: 30px;
  position: relative;

  .progress {
    width: 20%;
    border-radius: 1em;
    background-color: rgb(206, 206, 206);

    .progress-color {
      background-color: black;
      width: 10%;
      height: 10px;
      border-radius: 1em;
      animation: progress-loader 4s infinite linear;

      @keyframes progress-loader {
        0% {
          width: 0%;
        }
        25% {
          width: 50%;
        }
        50% {
          width: 75%;
        }
        75% {
          width: 85%;
        }
        100% {
          width: 95%;
        }
      }
    }
  }
}
